@font-face{
     src:url(../font/Cairo/static/Cairo-Bold.ttf);
     font-family: 'Cairo', sans-serif;
     font-weight: 700;
}
@font-face{
     src:url(../font/Cairo/static/Cairo-Regular.ttf);
     font-family: 'Cairo', sans-serif;
     font-weight: 400;
}
@font-face{
     src:url(../font/Cairo/static/Cairo-Medium.ttf);
     font-family: 'Cairo', sans-serif;
     font-weight: 500;
}
@font-face{
     src:url(../font/Cairo/static/Cairo-Light.ttf);
     font-family: 'Cairo', sans-serif;
     font-weight: 300;
}
@font-face{
     src:url(../font/Cairo/static/Cairo-ExtraLight.ttf);
     font-family: 'Cairo', sans-serif;
     font-weight: 200;
}
@font-face{
     src:url(../font/Cairo/static/Cairo-ExtraBold.ttf);
     font-family: 'Cairo', sans-serif;
     font-weight: 800;
}
@font-face{
     src:url(../font/Cairo/static/Cairo-SemiBold.ttf);
     font-family: 'Cairo', sans-serif;
     font-weight: 600;
}
/* Fonts */
:root {
     --font-default: "Cairo";
     --font-primary: "Cairo";    
     --font-secondary: sans-serif;
	--dark-color: #000;
	--light-color: #f1f1f1;
   }
   
   

*{
	padding: 0;
	margin: 0;
	font-family: var(--font-default), var(--font-secondary);
	box-sizing: border-box;

}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0rem;

}
a{
	text-decoration: none;
}
a:hover{
	color:#428315cc  ;
}
.form-control:focus {
	border-color: #428315cc;
	outline: 0;
	box-shadow: 0 0 0 0;

}
.form-check-input:focus {
	box-shadow: 0 0 0 0;

}
/*hader*/
canvas {
	display: block;
   
   }
   
   #particles-js {
	position: absolute;
	width: 100%;
	/* background-color: #000; */
	height: 120%;
	
   }
.head{
	position: relative;

}
.title-hadeer{
	color: #00000065;
	font-size: 30px;
	font-weight: bold;
}
[dir=ltr] .title-hadeer{
	text-align: right;
}
[dir=rtl] .title-hadeer{
	text-align: left;
}
.logo{
	width: 160px;
	max-height: 100px;
    height: auto;
	animation: movdown 1s linear 1;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
	visibility: hidden;
}
@keyframes movdown {
	0%{
	    transform: translateY(-100px);
	    visibility: visible;
	    -webkit-transform:translateY(-100px);
	    -moz-transform:translateY(-100px);
	    -ms-transform:translateY(-100px);
	    -o-transform:translateY(-100px);
	}
	100%{
	    transform: translateY(0);
	    visibility: visible;
	    -webkit-transform:translateY(0);
	    -moz-transform:translateY(0);
	    -ms-transform:translateY(0);
	    -o-transform:translateY(0);
	}
   }
/***/


.login_box{
	background-color:#9a8c8c26 !important;
    padding:30px 30px;	
	border-radius: 20px;
	border: 1px solid #9a8c8c4a;
	backdrop-filter: blur(0px);

}
.user{
	position: absolute;
    text-align: center;
    top: -8px;
    width: 90%;
   
}
.user .icon{
	width:70px; 
	height:70px; 
	padding: 15px;  
	font-size: 70px;
        color: #fff; 
	   background:linear-gradient(100deg, #0B555E , #428315cc ); 
	   border-radius: 50%;
	   transform: translateY(-50%);
}
.input-group-text{
	background: linear-gradient(100deg, #0B555E , #428315cc );
color: #fff;
}
.form-check-label,.link-password{
	color: #00000065;
	font-size: 15px;
	font-weight: 500;
}
.form-check-label{
	text-transform: capitalize;
}
.form-check-input:checked {
	background-color: #428315cc;
	border-color: #428315cc;
 }
[dir=ltr] .form-chech{
	text-align: right;
}
[dir=ltr] .form-check .form-check-input {
	float: right;
	margin-left: 0.5em;
 }
.btn-login{
	background: linear-gradient(100deg, #0B555E , #428315cc );
	padding: 10px 50px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}
.btn-login:hover{
	color: #FFF !important;
	
}
input::placeholder{
	color: #00000065;
	font-size: 16px;
	font-weight: 400;
}

.reg{
	display: flex;
	justify-content: center;
	margin-top:20px;
	font-size: 14px;
	color: #ffff;
}

.reg a{
	text-decoration: none;
	margin-left: 5px;
	color: #fff;
	font-weight: bold;
}

@media (max-width:1024px) {
	#particles-js {
	height: 150%;
	min-height: 100%;
	}
}


@media (max-width:500px) {
	.logo {
		width: 100px;
		height: max-content;
	 }
	 .title-hadeer {
		
		font-size: 14px;
}
.user {
width: 80%;
}
.user .icon {
	width: 50px;
	height: 50px;
}
.component-login{
	padding-top: 44% !important;
}
}
[data-theme="dark"] body{
	background-color: var(--dark-color) !important;
	color: var(--color-text) !important;
   }
   [data-theme="dark"] .title-hadeer {
   color: var(--light-color);
   }
   [data-theme="dark"] .form-check-label, [data-theme="dark"] .link-password{
	color: var(--light-color);
   }
   .switch {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 35px;
	animation : moveUp .5s .5s;
	animation-fill-mode:backwards;
   }
   @keyframes moveUp {
	from {
		transform:translateY(30px);
		opacity:0;
	}
	to {
		transform:translateY(0px);
		opacity:1px;
	}
   }
   .button-dark{
	display: flex;
	position: absolute;
	color: #2e7f32;
	z-index: 1;
	
	right: 0px;
   }
  
   .switch input {
   opacity: 0;
   width: 0;
   height: 0;
   }
   .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   
   background: linear-gradient(100deg, #0B555E , #428315cc );
   -webkit-transition: .4s;
   transition: .4s;
   }
   
   .slider:before {
   position: absolute;
   content: "";
   height: calc(35px - 2 * 4px);
   width: calc(35px - 2 * 4px );
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
   }
   
   input:checked + .slider {
   background-color: #64B5F6;
   background: linear-gradient(100deg, #64B5F6 , #64B5F6 );
   }
   
   input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
   }
   
   input:checked + .slider:before {
   -webkit-transform: translateX( 45px );
   transform: translateX( 45px );
   transform: scale(0.7) translateX(74px) rotate(42deg);
	  transition: 0.7s all ease;
	  border-radius: 25px 106px 25px 25px;
   
   }
   
   /* Rounded sliders */
   .slider.round {
   border-radius: 34px;
   }
   
   .slider.round:before {
   border-radius: 50%;
   }
   
   .button-dark:before {
	content: "☼";
	right: 100%;
	margin-right: 10px;
	color: orange;
   }
   .button-dark::after {
	content: "☾";
	left: 100%;
	margin-left: 10px;
	color: lightSlateGray;
	font-size: 2rem;
   }
   .button-dark::before {
	font-size: 2rem;
	position: absolute;
	transform: translate3d(0, -50%, 0);
	top: 50%;
   }
   @media (min-width:800px) {
	.button-dark{
	  bottom:10%;
	}
   }
   @media (max-width:790px) {
	.button-dark{
	  top:17%;
	}
   }
   .text-hader{
	font-size: 18px;
	color: #787171;
	text-align: center;
   }
   [data-theme="dark"] .text-hader{
	color: #fff;
	}
	.form-control option,.form-control option selected{
		color: #00000065;
	font-size: 16px;
	font-weight: 400;
	}